* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.%5;
}

body {
    font-family: Arial, Helvetica, sans-serif;

}

/* ==========================utility class============================ */

.cantinar {
   width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.btn {
    /* display: inline-block;  */
    padding: 1em 2.5em;
    text-decoration: none;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    margin-top: 1em;
    font-weight: 500;
}

.btn-primary {
    /* background-color: #555; */
    list-style: none;
    border-radius: 100px;
    color: black;
}


/* ==========================nevbar css============================ */
.navbar {
    background: #F5F7FA;
    /* max-width: 1200px; */
    width: 100%;
  
    position: relative;

}

.nevbar input[type='checkbox']
 {
    display: none;
}

.nevbar-cantinar {
    background: #F5F7FA;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.menu-items ul {
    list-style: none;
    text-decoration: none;
}

.menu-items {
    /* padding-top: 40px; */
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    width: 588;
    height:84px;
    /* top: 30px; */
    /* left: 425.5px; */
    font-size: large;
    /* padding-bottom: 20px; */
    padding-right: 60px;
}

.menu-items li a {
    text-decoration: none;
    color: black;
}

.nev-logo {
    padding-top: 13px;
    gap: 20px;
    padding-right: 160px;

}

.nev-logo img {

    width: 140px;
    height: 25px;
    top: 20px;
    left: 100px;
    /* gap: 2px; */

}

.menu-items .nev-btn .btn {
    padding-bottom: 10px;
}

.nev-btn a {
    font-size: large;
    color: #fff;
    background: #f2f5f2;
    text-decoration: none;
    text-align: center;
    width: 91;
    height: 40;
    gap: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border-radius: 6px;
}

.nev-btn a:hover {
    background: #4CAF4F;
}

@media (min-width:320px) and (max-width:500px) {
    .navbar {
        opacity: 0.95;
        position: fixed;
    }

    .nevbar-cantinar {
        display: block;
        position: relative;
        height: 64px;
    }

    .nevbar-cantinar input[type="checkbox"],
    .nevbar-cantinar.hamburgur-lines {
        display: block;
    }

    .nevbar-cantinar input[type="checkbox"] {
        position: absolute;
        display: block;
        height: 32px;
        width: 40px;
        top: 20px;
        left: 20px;
        z-index: 10;
        opacity: 0;

    }

    .nevbar-cantinar .hamburgur-lines {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 30px;
        width: 35px;
        top: 20px;
        left: 20px;
        z-index: 5;

    }

    .hamburgur-lines .line1 {
        height: 3.5px;
        width: 100%;
        border-radius: 10px;
        background: black;
    }

    .hamburgur-lines .line2 {
        height: 3.5px;
        width: 75%;
        border-radius: 10px;
        background: black;
    }


    .hamburgur-lines .line3 {
        height: 3.5px;
        width: 100%;
        border-radius: 10px;
        background: black;
    }

    .nevbar-cantinar .hamburgur-lines .line1 {
        transform-origin: 0% 0%;
        transition: transform 0.4s ease-in-out;
    }

    .nevbar-cantinar .hamburgur-lines .line2 {

        transition: transform 0.4s ease-in-out;
    }

    .nevbar-cantinar .hamburgur-lines .line3 {
        transform-origin: 0% 100%;
        transition: transform 0.4s ease-in-out;
    }

    .nevbar .menu-items {
        padding-top: 80px;
        background: #fff;
        height: 100vh;
        width: 200px;
        transform: translateX(-150%);
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0;
        left: 0;
        margin-left: -30px;
        padding-left: 20px;
        transition: transform 0.5s ease-in-out;
        box-shadow: 5px 0px 10px 0px #aaa;
        z-index: 1;
        gap: 1rem;

    }

    .nevbar .menu-items {
        font-size: 1rem;
        font-weight: 500;
    }

    .nevbar-cantinar input[type="checkbox"]:checked~.menu-items {
        transform: translateX(0);
    }

    .nevbar-cantinar input[type="checkbox"]:checked~.hamburgur-lines .line1 {
        transform: rotate(45deg);
    }

    .nevbar-cantinar input[type="checkbox"]:checked~.hamburgur-lines .line2 {
        transform: scaleY(0);
    }

    .nevbar-cantinar input[type="checkbox"]:checked~.hamburgur-lines .line3 {
        transform: rotate(-45deg);
        width: 100%;
    }

    .nev-logo img {
        width: 100px;
        height: 20px;
        top: 20px;
        left: 200px;
        gap: 1px;
    }

    .nev-logo {
        padding-left: 170px;
        padding-top: 20px;
    }

    .menu-items .nev-btn .btn {
        display: inline-block;
    }
}


/* =================================== home style============================================ */

.home {
    display: flex;
    background: #F5F7FA;
    padding: 30px;
}

.home-text {
    padding-left: 20px;
    padding-top: 20px;
}

.home-text h1 {
    font-size: 50px;
    font-weight: 700;
    padding: 10px;
}

.home-text p {
    font-size: 15px;
    font-weight: 300;
}

.home-text .one {
    color: #4CAF4F;
}
.button{
    padding-top: 10px;
}

.home-btn {
    background: #4CAF4F;
    font-size: 15px;
    font-weight: 300;
    padding-top: 10px;
}
/* .home-imges{
    padding-left: 150px;
} */
.home-imges img {
    height: 400px;
    width: 400px;
    /* padding:20px auto; */
    /* padding-left: 90px; */
    margin: auto;
}

@media (min-width:320px) and (max-width:500px) {
    .home {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .home-text{
        text-align: center;
    }

    .home-imges img {
        width: 320px;
        height: 300px;
        display: flex;
        align-items: center;
        padding: 20px;
        padding-top: 50px; 
    }
}


/* ============================= servise style====================================== */

.servis-cantiner {
    margin: auto;
}

.servis-text h1 {
    font-size: 50px;
    font-weight: 600;
    margin: 0;
    text-align: center;
    color: #18191F;
}

.servis-text p {
    text-align: center;
    color: #18191F;
}